<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name of the Board</th>
        <th>All Categories - Number of Students - Appeared - Boys</th>
        <th>All Categories - Number of Students - Appeared - Girls</th>
        <th>All Categories - Number of Students - Appeared - Total</th>
        <th>All Categories - Number of Students - Passed - Boys</th>
        <th>All Categories - Number of Students - Passed - Girls</th>
        <th>All Categories - Number of Students - Passed - Total</th>
        <th>Scheduled Caste Students - Number of Students - Appeared - Boys</th>
        <th>Scheduled Caste Students - Number of Students - Appeared - Girls</th>
        <th>Scheduled Caste Students - Number of Students - Appeared - Total</th>
        <th>Scheduled Caste Students - Number of Students - Passed - Boys</th>
        <th>Scheduled Caste Students - Number of Students - Passed - Girls</th>
        <th>Scheduled Caste Students - Number of Students - Passed - Total</th>
        <th>Scheduled Tribe Students - Number of Students - Appeared - Boys</th>
        <th>Scheduled Tribe Students - Number of Students - Appeared - Girls</th>
        <th>Scheduled Tribe Students - Number of Students - Appeared - Total</th>
        <th>Scheduled Tribe Students - Number of Students - Passed - Boys</th>
        <th>Scheduled Tribe Students - Number of Students - Passed - Girls</th>
        <th>Scheduled Tribe Students - Number of Students - Passed - Total</th>
    </tr>
    <tbody>
{% for i in data %}
        <tr>
            <td>{{i.a }}</td>
            <td>{{i.b }}</td>
            <td>{{i.c }}</td>
            <td>{{i.d }}</td>
            <td>{{i.e }}</td>
            <td>{{i.f }}</td>
            <td>{{i.g }}</td>
            <td>{{i.h }}</td>
            <td>{{i.i }}</td>
            <td>{{i.j }}</td>
            <td>{{i.k }}</td>
            <td>{{i.l }}</td>
            <td>{{i.m }}</td>
            <td>{{i.n }}</td>
            <td>{{i.o }}</td>
            <td>{{i.p }}</td>
            <td>{{i.q }}</td>
            <td>{{i.r }}</td>
            <td>{{i.s }}</td>
        </tr>
{% endfor %}
    </tbody>
    </thead>
</table>
</body>
</html>